<!-- Footer -->
<footer class="page-footer font-small text-white bg-dark py-1 mt-md-6">

  <!-- Footer Elements -->
  <div class="footer-copyright text-center py-2">© 2021 Copyright:
    Made with <i class="fas fa-heart"></i> By<a class="text-white"
      href="https://www.linkedin.com/in/satyam-dengre-882862190/"> Satyam
      Dengre</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->