<%- include ('partials/header.ejs'); -%>

    <div class="table-wrapper row  justify-content-center">
        <div class="table-wrapper col-md-8  ">
            <div class="form-row justify-content-center">
                <div class="form-group col-md-5">
                    <a href="/transaction" class="btn btn-block btn-success">Transaction</a>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-5">
                    <a href="/fundtransfer" class="btn btn-block btn-success">Fund Transfer</a>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-5">
                    <a href="/view" class="btn btn-block btn-success">View Account </a>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-5">
                    <a href="/view_all/" class="btn btn-block btn-success">View All Account</a>
                </div>
            </div>

        </div>
    </div>
    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>