<%- include ('partials/header.ejs'); -%>
    <div class="container row d-flex justify-content-center">

        <form class="add-account-form col-md-8" method="POST" action="">
            <h1>Login</h1>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-8">
                    <label for="user-name">User Name</label>
                    <input type="text" class="form-control" name="user_name" id="user-name" placeholder="User Name"
                        required>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-8">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                        required>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-8">
                    <label for="user_type"> Type</label>
                    <select id="user-type" name="user_type" class="form-control" placeholder="Choose Type" required>
                        <option selected disabled>Choose Type</option>
                        <option>Admin</option>
                        <option>Manager</option>
                        <option>Cashier</option>
                        <option>Personal</option>
                    </select>
                </div>
            </div>
            <div class="form-row justify-content-center mb-md-4">
                <div class="form-group col-md-8">
                    <button type="submit" class="btn btn-primary float-right btn-block">Login</button>
                    <button type="reset" class="btn btn-danger float-left btn-block ">Reset</button>
                </div>
            </div>
        </form>
    </div>

    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>