<%- include ('partials/header.ejs'); -%>
    <div class="container">
        <div class="form-row justify-content-between">
            <h1>Make Transaction</h1>
            <div class="form-group col-md-1">
                <a href="/dashboard" class="btn btn-primary btn-block">Back</a>
            </div>
        </div>

        <form class="add-account-form" action="/transaction" method="POST">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="acnod">Account Number</label>
                    <input type="number" class="form-control" name="acno" id="acnoi" placeholder="Account Number"
                        required>
                </div>
                <div class="form-group col-md-5">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="amounti" placeholder="Amount" required>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label for="operation">Operation</label>
                        <select id="operationi" name="operation" class="form-control" placeholder="Operation" required>
                            <option selected disabled>Choose Operation</option>
                            <option>Debit</option>
                            <option>Credit</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>